@model HospitalProject2.Models.PatientsDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete this patient?</h2>

<h2>Patient ID: @Model.patient_id</h2>
<h2>@Model.f_name @Model.l_name</h2>

<div class="box">
    <a class="cancel_btn" href="/Patients/List">Cancel</a>
    <form action="/Pateints/Delete/@Model.patient_id" method="POST">
        <input type="submit" class="confirm_btn" value="Confirm Delete" />

    </form>
</div>

