@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP Hospital</h1>
    <p class="lead">HEALTHCARE FOR A HEALTHIER, MORE EQUITABLE WORLD. We are developing ground-breaking innovations that address issues related to population health, patient experience and system costs.</p>  
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Care Programs and Services</h2>
        <p>
            Learn more about our programs and services.
        </p>
        <p><a class="btn btn-default" href="/Programs/List">Programs &raquo;</a></p>
        <p><a class="btn btn-default" href="/Services/List">Services &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Departments and Staffs </h2>
        <p>Learn more about our departments and staffs.</p>
        <p><a class="btn btn-default" href="/Departments/List">Departments &raquo;</a></p>
        <p><a class="btn btn-default" href="/Staffs/List">Staffs &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Careers and Volunteers</h2>
        <p>Learn more about job opportunities and apply for volunteer.</p>
        <p><a class="btn btn-default" href="/Careers/List">Careers &raquo;</a></p>
        <p><a class="btn btn-default" href="/Volunteers/List">Volunteers &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Patients and Appointments</h2>
        <p>
            Plan your visit and make an appointment.
        </p>
        <p><a class="btn btn-default" href="/Patients/List">Patients &raquo;</a></p>
        <p><a class="btn btn-default" href="/Appointments/List">Appointments &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Donations and FAQ</h2>
        <p>Learn more about our foundation and the frequently asked questions.</p>
        <p><a class="btn btn-default" href="/Donations/List">Donation &raquo;</a></p>
        <p><a class="btn btn-default" href="/FAQs/List">FAQs &raquo;</a></p>
    </div>
    <div class="col-md-4">
        
    </div>
</div>