@model IEnumerable<HospitalProject2.Models.ViewModels.UpdateStaff>

@{
    ViewBag.Title = "Edit";
}

<h2>Create new staff information</h2>
<form action="/Staffs/Update/@Model/SelectedStaff.staff_id" method="post">
    <div>
        <label>First Name:</label><input type="text" name="StaffFirstname" />
    </div>
    <div>
        <label>Last Name:</label><input type="text" name="StaffLastname" />
    </div>
    <label>Department: </label>
    <select name="department_id">
        @foreach (var Department in Model.DepartmentOptions)
        {
            <option value="@Department.department_id">@Department.name</option>
        }
    </select>
    <div>
        <label>Bio:</label><input type="text" name="StaffBio" />
    </div>
    <div>
        <label>Image:</label><input type="text" name="StaffImage" />
    </div>
    <div>
        <input type="submit" value="Add Staff" />
    </div>
</form>


