@model IEnumerable<HospitalProject2.Models.DepartmentsDto>
@{
    ViewBag.Title = "List";
}

<h2>Departments List</h2>
<a class="add_btn" href="/Departments/New">Lists of Departments</a>

<table id="DepartmentsTb">
    <tr>
        <th>Department Id:</th>
        <th>Name:</th>
        <th>Location:</th>
        <th>Size:</th>
    </tr>
    @foreach (var Departments in Model)
    {
        <tr>
            <td>@Departments.department_id</td>
            <td>@Departments.name</td>
            <td>@Departments.location</td>
            <td>@Departments.size</td>
            <td><a class="details_btn" href="/Departments/Details/@Departments.department_id"> Details </a></td>
        </tr>

    }

</table>

